img.linkedin-logo {
  display: inline-block;
  margin: 10px;
  max-width: 25px;
  padding: 0px;
  border-radius: 50px;
}

img.shecodes-logo {
  display: inline-block;
  margin: 10px;
  max-width: 25px;
  padding: 0px;
  border-radius: 50px;
}

li.coder-connects {
  display: inline;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
}

body {
  max-width: 816px;
  min-width: 816px;
  display: block;
}
