html {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: block;
  margin: 35px;
  padding: 25px;
  max-width: 816px;
  min-width: 816px;
  border-radius: 100px;
  border-width: 10px 4px;
  outline: ridge grey;
  outline-width: 10px;
  overflow: hidden;
  background-color: #ffca7a;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f3f3f3;
  color: #333;
  display: block;
}

.citySearch {
  background-color: #aa633f;
  border: solid;
  border-radius: 11%;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px;
  outline-color: black;
}

.new-city-search {
  margin: 0 auto;
}

.spaced {
  margin-left: 10px;
}

.searchButt {
  padding: 22px 12px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bolder;
  box-shadow: 3px 7px 3px;
}
#main {
  margin: 15px 30px 0px 80px;
  padding: 20px 170px 20px 15px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 75px;
  border-radius: 40%;
  outline: solid black;
  background: rgba(203, 214, 204, 0.3);
}

#weather-main {
  padding: 15px 15px 15px 15px;
  margin: 0 auto;
  border-radius: 11%;
  background-color: #976849;
  border: dashed;
}

#current {
  margin: 0px 25px 0px 0px;
  padding: 20px 15px 0px 15px;
}

#current-info {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  font-size: 17px;
}

canvas {
  width: 27px;
  height: 27px;
}

.forecast-container {
  display: block;
  margin: 20px auto;

  font-family: "Chakra Petch", sans-serif;
}

#weather {
  text-transform: capitalize;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  margin: 10px auto;
  padding: 0px 25px 0px 90px;
  font-size: 20px;
}

#forecast-border {
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  outline: groove grey;
  outline-width: 5px;
  border-radius: 100px;
  background-color: #643f22;
  color: #feaa27;
}

#forecast {
  text-align: center;
}

.col {
  margin: 0 auto;
  padding: 0 auto;
}

.card {
  outline: groove black;
  outline-width: 3px;
  border-radius: 47%;
  background: rgba(203, 214, 204, 0.3);
}

.card-text {
  line-height: 25px;
  font-weight: bolder;
}

p {
  text-align: center;
}

ul {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #ffca7a;
}
