.theme-toggle-button {
  background-color: #494949;
  color: #fafafa;
  border: none;
  padding: 10px 15px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 60px;
  display: block;
}

.dark .theme-toggle-button {
  color: #1d1716;
  background-color: #dfdfdf;
}

body.dark {
  background-color: #1d1716;
  color: #fafafa;
  text-shadow: -1px -1px 0 #494949, 1px -1px 0 #494949;
}

.dark #current-info {
  color: #f2f4f7;
}

.container {
  display: block;
  margin: 35px;
  padding: 25px;
  max-width: 978px;
  min-width: 816px;
  border-radius: 500px;
  border-width: 10px 4px;
  outline: ridge grey;
  outline-width: 10px;
  position: relative;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
}

.WeatherVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.new-city-search {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
}

#search {
  margin: 0px -75px;
}

.spaced {
  margin-left: 10px;
}

#main {
  margin: 15px 25px 0px 150px;
  padding: 20px 170px 20px 15px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 75px;
  border-radius: 40%;
  outline: solid black;
  background: rgba(203, 214, 204, 0.3);
}

#main-degree {
  text-decoration: none;
}

#current {
  margin: 0px 25px 0px 0px;
  padding: 25px 15px 0px 15px;
}

#current-info {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin: 0 auto;
  font-size: 22px;
}

canvas {
  width: 27px;
  height: 27px;
}

.forecast-container {
  display: block;
  margin: 20px auto;
  padding: 25px 30px;
  font-family: "Poppins", sans-serif;
}

#weather {
  text-transform: capitalize;
}

h4 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin: 10px auto;
  padding: 0px 25px 0px 150px;
  font-size: 20px;
}

#forecast-border {
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  outline: groove grey;
  outline-width: 5px;
  border-radius: 100px;
}

.col {
  margin: 0 auto;
  padding: 0 auto;
}

.card {
  outline: groove black;
  outline-width: 3px;
  border-radius: 47%;
  background: rgba(203, 214, 204, 0.3);
}

.card-text {
  line-height: 25px;
  font-weight: bolder;
}

p {
  text-align: center;
}

ul {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
